{% extends 'base.html' %}

{% block title %} Project Tracker {% endblock %}

{% block content %}

  <h1>Add Project</h1>

    <form action="/api/create-project" method="POST">
      <p>
        <label>Project Name:
          <input type="text" name="title">
        </label>
      </p>
      <p>
        <label>Description:</label>
          <textarea name="description"></textarea>
      </p>
      <p>
        <label>Max Grade:
          <input type="text" name="max_grade">
        </label>
      </p>
        <input type="submit" value="Create Project">
     </form>

{% endblock %}