<!doctype html>
<html>
  <head>
    <title>Project Tracker</title>
  </head>

  <body>

    <form action="/api/create-student" method="POST">
      <p>
        <label>First Name:
          <input type="text" name="first_name">
        </label>
      </p>
      <p>
        <label>Last Name:
          <input type="text" name="last_name">
        </label>
      </p>
      <p>
        <label>Github:
          <input type="text" name="github">
        </label>
     </p>
        <input type="submit" value="Create Student">
     </form>

  </body>
</html>