{% extends 'base.html' %}

{% block title %} Project Tracker {% endblock %}

{% block content %}

    <form action="/api/create-student" method="POST">
      <p>
        <label>First Name:
          <input type="text" name="first_name">
        </label>
      </p>
      <p>
        <label>Last Name:
          <input type="text" name="last_name">
        </label>
      </p>
      <p>
        <label>Github:
          <input type="text" name="github">
        </label>
     </p>
        <input type="submit" value="Create Student">
     </form>

{% endblock %}